.detail-container {
    display: flex;
    flex-flow: column;
 

    


    .content-wrapper {
        display: flex;
        margin: 2em 0;
        border: 1px solid #e5e5e5e5;
        border-radius: 5px;
        padding: 1em;

        .detail-image-container{
            width: 400px;
            display: flex;

            img {
                width: 100%;
            }
        }

        .info-container{
            padding-left: 3em;

            .buttons-container {
                display: flex;
                justify-content: space-evenly

            }
        }
    }

}

.container-margin{
    margin: 0 3em;
}

@media all and (min-width: 1600px ) {
    .container-margin{
        margin: 0 20em;
    }
  }

  @media all and (min-width: 1200px ) {
    .container-margin{
        margin: 0 10em;
    }
  }

@media all and (min-width: 768px ) {
    .container-margin{
        margin: 0 3em;
    }
    
  }